button {
  transition-duration: 0.5s;
}
.logo {
  height: 21px;
}
.clear-btn {
  padding: 0;

  border: none;
  background: none;
}
.icon {
  display: inline-block;
  background: $white;
  mask-size: cover;
  transition: 0.5s;
}
.icon:hover {
  background: $grey-blue;
}
.icon_rules {
  mask: url(../img/Polygon1.svg);
  width: 21px;
  height: 36px;
}
.icon_cross {
  mask: url(../img/Крестик.svg);
  width: 20px;
  height: 20px;
}
.icon_sidebar {
  mask: url(../img/Union.svg);
  width: 15px;
  height: 16px;
}
.icon_arrow {
  width: 61px;
  height: 16px;
  background: $grey-blue;
}
.icon_arrow:hover {
  background: $deep-blue;
}
.icon_back {
  mask: url(../img/back.svg);
}
.icon_forward {
  mask: url(../img/forward.svg);
}
.header-btn {
  width: 153.5px;
  padding: 10px;

  color: $deep-blue;
  border: 2px solid $white;
  border-radius: 10px;
  background: $white;
  &:hover {
    color: $white;
    border-color: $grey-blue;
    background: $grey-blue;
  }
}
.header-btn_transparent {
  color: $white;
  background: rgba(255, 255, 255, 0.07);
  &:hover {
    transition-duration: 0.5s;

    color: $grey-blue;
    border-color: $grey-blue;
    background: rgba(255, 255, 255, 0.07);
  }
}
.main-btn {
  padding: 15px 30px;

  color: $white;
  border: none;
  border-radius: 10px;
  background: $vivid-blue;
  &:hover {
    transition-duration: 0.5s;

    background: $grey-blue;
  }
}
.reservation-btn {
  display: flex;

  width: 328px;
  padding: 16px;

  text-align: start;
  text-transform: uppercase;

  border: none;
  border-radius: 15px;
  background: $deep-blue;

  align-items: center;
  gap: 30px;
  img {
    width: 37px;
    height: 37px;

    filter: brightness(0) invert(1);
  }
  &:hover {
    transition-duration: 0.5s;

    background: $vivid-blue;
  }
}

@media (min-width: 1440px) {
  .header-btn {
    width: 236px;
    padding: 19.5px;
  }
  .logo {
    height: 76px;
  }
  .reservation-btn {
    width: 610px;
    padding: 60px 50px;

    gap: 60px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}
