.carousel {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 24px;
  align-items: center;
  &__counter {
    position: absolute;
    top: -102px;

    align-self: flex-end;
    .carousel__counter_now {
      font-size: 96px;

      position: relative;
      top: 40px;

      transition: 0.5s;
    }
  }
  &__container {
    overflow: hidden;

    width: 328px;
    .carousel__items {
      position: relative;
      right: 0;

      display: flex;
      flex-direction: row;

      transition: 1s;

      gap: 16px;

      .carousel__item {
        width: 328px;
        height: 180px;

        cursor: pointer;
      }
      .carousel__item:before {
        position: absolute;

        width: 328px;
        height: 100%;

        content: '';
        transition: 0.5s;

        opacity: 0.5;
        background: $white;
      }
      .carousel__item:hover:before {
        opacity: 0.7;
      }
      .carousel__item_active {
        pointer-events: none;
      }
      .carousel__item_active:before {
        opacity: 0;
      }
    }
  }
  &__buttons {
    display: flex;

    margin-bottom: 20px;

    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .carousel {
    width: 100%;

    align-items: flex-start;
    gap: 0;
    &__counter {
      top: -260px;
      right: 176px;
      .carousel__counter_now {
        font-size: 236px;

        top: 100px;
      }
    }
    &__container {
      overflow: visible;

      width: auto;
      .carousel__items {
        gap: 15px;
        .carousel__item {
          width: 609px;
          height: 341px;
        }
        .carousel__item:before {
          width: 610px;
        }
      }
    }
    &__buttons {
      position: absolute;
      top: -114px;
      right: 63px;

      margin-bottom: 0;

      gap: 531px;
    }
  }
}

@keyframes countSwitch {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
