.gallery {
  display: flex;
  flex-direction: column;

  width: 328px;

  gap: 30px;
  align-items: center;
  &__header {
    position: relative;

    align-self: flex-start;
  }
  &__header:after {
    position: absolute;
    bottom: -18px;

    content: url(../img/Line\ 5.svg);
  }
  .main-btn {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .gallery {
    width: 1240px;

    gap: 60px;
    &__header {
      display: flex;
      flex-direction: column;

      margin-bottom: 15px;

      align-self: flex-start;
      gap: 8px;
      img {
        display: none;
      }
    }
    .main-btn {
      width: auto;
    }
  }
}
