.gallery {
  display: flex;
  width: 328px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  &__header {
    align-self: flex-start;
    position: relative;
  }
  &__header:after {
    content: url(../img/Line\ 5.svg);
    position: absolute;
    bottom: -18px;
  }
  .main-btn {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .gallery {
    width: 1240px;
    gap: 60px;
    &__header {
      align-self: flex-start;
      display: flex;
      gap: 8px;
      flex-direction: column;
      margin-bottom: 15px;
      img {
        display: none;
      }
    }
    .main-btn {
      width: auto;
    }
  }
}
