.information {
  display: flex;
  flex-direction: column;

  width: 327px;

  &__container {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    max-height: 0;

    transition: max-height 1s ease-out;

    gap: 30px;
  }
}
.history {
  display: flex;
  flex-direction: column;

  gap: 30px;
  a {
    text-decoration: underline;
  }
  iframe {
    display: flex;

    width: 327px;
    height: 210px;
    margin: auto;
    margin-top: 30px;
  }
}
.docs {
  display: flex;
  flex-direction: column;

  gap: 30px;
  .information__container {
    gap: 15px;
  }
  .docs__element {
    padding: 16px;

    transition: 0.5s;

    border: 2px solid $grey-blue;
    border-radius: 10px;
  }
  .docs__element:hover {
    border: 2px solid $vivid-blue;
    background: rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 1440px) {
  .information {
    width: 1240px;
    &__container {
      gap: 60px;
    }
  }
  .history {
    gap: 60px;
    iframe {
      width: 839px;
      height: 540px;
      margin-top: 60px;
    }
  }
  .docs {
    gap: 60px;
  }
  .docs__element {
    padding: 10px 30px;
  }
}
