.price {
  display: flex;
  flex-direction: column;

  gap: 30px;
  align-items: center;
}
.table {
  width: 328px;

  table-layout: fixed;
  border-collapse: separate;
  .table__cell {
    line-height: 130%;

    padding: 16px 12px;

    text-align: center;
    vertical-align: middle;

    border-top: 2px solid $grey-blue;
    border-left: 2px solid $grey-blue;
    background: $white;
  }
  th.table__cell {
    font-weight: 700;

    color: $white;
    background: $deep-blue;
  }

  .table__cell:last-child {
    border-right: 2px solid $grey-blue;
  }
  .last-row {
    .table__cell {
      border-bottom: 2px solid $grey-blue;
    }
  }

  .table__cell_lt {
    border-top-left-radius: 10px;
  }
  .table__cell_rt {
    border-top-right-radius: 10px;
  }
  .table__cell_lb {
    border-bottom-left-radius: 10px;
  }
  .table__cell_rb {
    border-bottom-right-radius: 10px;
  }
}
.reservation {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
@media (min-width: 1440px) {
  .price {
    gap: 59px;
  }
  .table {
    width: 1240px;
    .table__cell {
      line-height: 22px;

      padding: 28px;
      br {
        display: none;
      }
    }
  }
  .reservation {
    display: flex;
    display: grid;
    flex-direction: column;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
