.services {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  h2 {
    margin-bottom: 30px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;

    gap: 15px;
    .services__card {
      display: flex;

      width: 328px;
      padding: 16px;

      border: 2px solid $grey-blue;
      border-radius: 15px;

      gap: 30px;
      align-items: center;
      img {
        width: 37px;
        height: 37px;
      }
      span {
        br {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .services {
    flex-direction: row;
    h2 {
      margin-right: 151px;
      margin-bottom: 0;
    }
    &__wrap {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 18px;
      .services__card {
        flex-direction: column;

        width: 295px;
        height: 200px;

        gap: 20px;
        justify-content: center;
        img {
          width: 80px;
          height: 80px;
        }
        span {
          line-height: 25px;

          text-align: center;
          br {
            display: block;
          }
        }
      }
    }
  }
}
