@font-face {
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  font-style: normal;

  src: local('Exo 2'), url('../fonts/Exo2-Black.ttf');
}
@font-face {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-style: normal;

  src: local('Exo 2'), url('../fonts/Exo2-Black.ttf');
}
@font-face {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: normal;

  src: local('Exo 2'), url('../fonts/Exo2-SemiBold.ttf');
}
@font-face {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: normal;

  src: local('Exo 2'), url('../fonts/Exo2-Regular.ttf');
}

.exo2-black {
  font: {
    family: 'Exo 2', sans-serif;
    weight: 900;
    size: 38px;
  }
  @media (min-width: 1440px) {
    font-size: 108px;
    line-height: 109.6px;
  }
}
.exo2-bold {
  font: {
    family: 'Exo 2', sans-serif;
    weight: 700;
    size: 36px;
  }
  @media (min-width: 1440px) {
    font: {
      family: 'Exo 2', sans-serif;
      weight: 600;
      size: 96px;
    }
  }
}
.exo2-regular {
  font: {
    family: 'Exo 2', sans-serif;
    weight: 400;
    size: 16px;
  }
  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.white {
  color: $white;
}
.deep-blue {
  color: $deep-blue;
}
.white-hover {
  color: $white;

  &:hover {
    transition-duration: 0.5s;

    color: $grey-blue;
  }
}
