.main {
  display: flex;
  flex-direction: column;

  padding: 75px 16px 0;

  background: #ebf3fa;

  align-items: center;
  gap: 75px;
}
.delimiter {
  position: absolute;
  bottom: -32px;
}
h2 {
  max-width: 328px;

  text-align: center;
}

@media (min-width: 1440px) {
  .main {
    padding: 150px 100px 0;

    gap: 150px;
  }
  .delimiter {
    bottom: -85px;
    left: -84px;

    width: 295px;
  }
  h2 {
    text-align: left;
  }
  .h2-big {
    width: 1230px;
    max-width: 1230px;
  }
}
