.main {
  padding: 75px 16px 0;
  background: #ebf3fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}
.delimiter {
  position: absolute;
  bottom: -32px;
}
h2 {
  text-align: center;
  max-width: 328px;
}

@media (min-width: 1440px) {
  .main {
    padding: 150px 185px 0;
    gap: 150px;
  }
  .delimiter {
    bottom: -75px;
    left: -85px;
  }
  h2 {
    text-align: left;
  }
  .h2-big {
    max-width: 1240px;
    width: 1240px;
  }
}
