.footer {
  display: flex;
  flex-direction: column;

  padding: 30px 16px;

  gap: 30px;
  h2.exo2-bold {
    font-size: 16px;

    text-align: left;
  }
  &__information {
    display: flex;
    flex-direction: column;

    gap: 30px;
  }
  &__right {
    display: flex;
    flex-direction: column;

    gap: 30px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;

    gap: 30px;
  }
  .navigation {
    display: flex;
    flex-direction: column;

    gap: 5px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 60px 100px;
    h2.exo2-bold {
      font-size: 27px;

      text-align: left;
    }
    &__information {
      flex-direction: row;

      gap: 0;
      justify-content: space-between;
    }
    &__right {
      gap: 0;
      justify-content: space-between;
    }
    &__contacts {
      line-height: 25px;

      gap: 0;
      order: 0;
      br {
        display: none;
      }
      span.exo2-regular:nth-of-type(1) {
        order: 1;
      }
    }
  }
}
