.header {
  height: 289px;

  background: linear-gradient(rgba(60, 74, 109, 0.81), rgba(255, 255, 255, 0.06));
  background-size: cover;
  background-image: url(../uploads/mobile/IMG_4440\ 2.png);

  &__top {
    width: 100%;
    position: fixed;
    padding: 9px 16px;
    z-index: 0;
    background: linear-gradient(
      248.69deg,
      rgba(141, 172, 210, 0.3) 45.929%,
      rgba(182, 196, 217, 0.3) 99.952%
    );
    display: flex;
    align-items: center;
    gap: 30px;

    .tel {
      display: none;
    }
  }

  &__main {
    padding: 86px 16px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .exo2-black {
      width: 330px;
    }
    & {
      .header__btns {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    height: 1024px;
    background-image: url(../uploads/IMG_4440\ 2.png);
    &__top {
      padding: 12px 100px;
      gap: 0;
      justify-content: space-between;
      button {
        display: none;
      }
      .tel {
        display: block;
      }
    }
    &__main {
      padding: 245px 100px;
      align-items: flex-start;
      gap: 150px;
      .exo2-black {
        width: 930px;
      }
    }
  }
}
