.navigation {
  display: none;
}
.navigation_mobile {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);

  gap: 11px;
  align-items: center;
}
@media (min-width: 1440px) {
  .navigation {
    display: flex;

    gap: 65px;
  }
}
