.sidebar {
  position: fixed;
  z-index: 2;

  display: none;

  width: 100vw;
  height: 100vh;

  animation: sidebarOpen 0.25s ease;

  background: $deep-blue;
  button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
@keyframes sidebarOpen {
  0% {
    position: absolute;
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes sidebarClose {
  0% {
    left: 0;
  }
  100% {
    position: absolute;
    left: -100vw;
  }
}
