// Abstract files
@import 'abstracts/all.scss';

// Vendor Files
@import 'vendors/bootstrap.scss';

// Core files
@import 'core/all';

// Components
@import 'components/all';

// Layout
@import 'layout/all';

// Sections
@import 'sections/all';

// Pages
@import 'pages/all';

body {
  min-width: 360px;
  background: $deep-blue;
}
.active {
  display: block;
}
.scroll-bar-off {
  height: 100vh;
  overflow: hidden;
}
